= provide(:title, 'About')
%h1 About HotelReserve
%p
  HotelReserve is a wonderfully helpful application for
  when you absolutely, positively must not get anywhere.
%p
  Use it now. Use it later. It doesn't matter. It's...
%h3.center HotelReserve